footer{
    height: 50px;
    background-color: #1F2937;
}

footer p{
    text-align: center;
    color: white;
    padding-top: 10px;
}

.box{
    background-color: #3882f6;
    width: 1000px;
    height: 150px;
    padding: 25px;
    display: inline-block;
    margin: 20px;
}

*{
    box-sizing: border-box;
}

.rbox, .lbox{
    display: inline-block;
    gap: 20px;
}

.call{
    text-align: center;
}

.quote{
    background-color: #E5E7EB;
    text-align: right;
}

.quote p{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.quote sub{
    text-align: left;
}